table {
    margin-left: auto;
    margin-right: auto;
    border: 2.5px solid whitesmoke;
}

th {
    border: 2.5px solid whitesmoke;
    border-collapse: collapse;
}

tbody {
    border-collapse: collapse;
    border: 2.5px solid whitesmoke;
    background-color: #121212;
}

tr:nth-child(even) {background-color: #595959;}